<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Prussian & Co.</title>
</head>
<body>
    <header>
        <nav>
            <h1>Prussian & Co.</h1>
                <ul>
                    <li>
                        <a href="/">
                            <p>Home</p>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <p>Log in</p>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <p>Help</p>
                        </a>
                    </li>

                    <li class="cart">
                        <a href="/cart">
                            <p>Shopping Bag(<span>0</span>)</p>
                        </a>
                    </li>
                </ul>
        </nav>
    </header>

    <div class="products-container">
        <div class="product-header">
            <h5 class="product-title">PRODUCT</h5>
            <h5 class="product-price">PRICE</h5>
            <h5 class="quantity">QUANTITY</h5>
            <h5 class="total">TOTAL</h5>
        </div>

        <div class="products">

            <div class="empty-cart">
                <ion-icon class="cart-outline" name="cart-outline"></ion-icon>
                <p>Your shopping cart is empty</p>
            </div>

        </div>
        
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/main.js"></script>
</body>
</html>